<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaiqFieldAndroid">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2.scratch.V2ScratchPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2.generalinfo.V2GeneralTankInformationPreviewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ai.laiq.tankinspection.v2.layoutscope.V2LayoutScopePreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2.layoutsetup.V2LayoutMapSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2.elementsetup.V2ElementSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2.elementsetup.V2ElementPlacementPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2.rooflayout.V2RoofLayoutMapPreviewActivity"
            android:exported="false" />
    </application>

</manifest>
