<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaiqFieldAndroid">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name="ai.laiq.tankinspection.v2product.scratch.V2ScratchPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.taskhome.V2TaskHomeActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.scratch.ProductScratchPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.taskhome.ProductTaskHomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ai.laiq.tankinspection.v3product.generalinfo.ProductGeneralTankInformationPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.layoutscope.ProductLayoutScopePreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.layoutsetup.ProductLayoutMapSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.elementsetup.ProductElementSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.elementsetup.ProductElementPlacementPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.utsetup.ProductUtSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.utmeasurement.ProductUtMeasurementPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.checklist.ProductInspectionChecklistPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.finding.ProductFindingCapturePreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.rooflayout.ProductRoofLayoutMapPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v3product.voice.ProductVoicePreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.generalinfo.V2GeneralTankInformationPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.layoutscope.V2LayoutScopePreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.layoutsetup.V2LayoutMapSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.elementsetup.V2ElementSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.elementsetup.V2ElementPlacementPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.utsetup.V2UtSetupPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.utmeasurement.V2UtMeasurementPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.checklist.V2InspectionChecklistPreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.finding.V2FindingCapturePreviewActivity"
            android:exported="false" />
        <activity
            android:name="ai.laiq.tankinspection.v2product.rooflayout.V2RoofLayoutMapPreviewActivity"
            android:exported="false" />
    </application>

</manifest>
